.movies {
  display: flex;
  flex-wrap: wrap;
  font-family: "Reem Kufi", sans-serif;
}
h1 {
  text-align: center;
  margin: 61.64px 0;
}
body {
  font-family: "Reem Kufi", sans-serif;
  font-size: 46px;
}
